body{
  font-family: 'Lato', sans-serif;
}
a{    -webkit-transition: all .3s ease;
    transition: all .3s ease;}
h1,h2,h3,h4,h5,h6, strong{font-family: 'Raleway', sans-serif;}

/*Header*/
header{box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.23);}
header {
    background: #09a1d9;
    background: -moz-linear-gradient(left, #09a1d9 0%, #00aea4 100%);
    background: -webkit-linear-gradient(left, #09a1d9 0%,#00aea4 100%);
    background: linear-gradient(to right, #09a1d9 0%,#00aea4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09a1d9', endColorstr='#00aea4',GradientType=1 );
}

header{
	width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}
header.smaller {
    height: 70px;
    width: 100%;
    box-shadow: 6px 2px 4px rgba(0, 0, 0, 0.38);
        -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}

.logo{ margin: 0px; padding: 10px 0px; -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;}
header .close{
    width: 32px;
    vertical-align: middle;
    text-align: center;
    padding-top: 22%;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
header marquee h4{
    color: #fff;
    padding-top: 5%;
}
header marquee h4 span{
	    color: #fdbb20;
    font-weight: 700;
    font-size: 30px;
    padding: 0px 10px;
}
header.smaller .logo img {
    width: 50px;
    height: 50px;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;

}
.logo img {-webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}
header.smaller .logo img{
	-webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}
header.smaller marquee h4{ padding-top: 1%; -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
header.smaller .close{    padding-top: 10%;}

/*Animated Form*/
/*basic reset*/
* {margin: 0; padding: 0;}

html {
	height: 100%;
}

/*form styles*/
{
    width: 100%;
    float: left;
    margin-top: 70px;
}
#msform {
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}

/*buttons*/
#msform .action-button {
	width: 100px;
	background: #08a3d2;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
	float: left;
    margin-left: 2%;
    margin-top: 3%;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #08a3d2;
}
/*headings*/
.fs-title {
	    font-size: 25px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    text-align: center;
    color: #08a3d1;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}


/*Accordian*/
#step-enrolment{width: 80%;margin: 0 10%;}
#step-enrolment h2{
    text-align: center;
    color: #08a3d1;
}
.panel-heading{.
	background: #09a1d9;
    background: -moz-linear-gradient(left, #09a1d9 0%, #00aea4 100%);
    background: -webkit-linear-gradient(left, #09a1d9 0%,#00aea4 100%);
    background: linear-gradient(to right, #09a1d9 0%,#00aea4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09a1d9', endColorstr='#00aea4',GradientType=1 );
}
.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a
{ text-decoration: none; color: #fff; }
.panel-title i{ color: #fff; }
.panel-default {border-color: #09a1d8;}
.enrolment-form{ width: 100%; float: left; }
.enrolment-section{
    padding-top: 120px;
}
.gender {
    margin: 10px 0px;
}
label{    text-align: left;}
.checkbox, .radio{ text-align: left; }
.control-label{
	font-weight: 600;
    font-size: 18px;
    border: 0;
    letter-spacing: .5px;
        padding-top: 5px;
}
input, select{    height: 50px !important;
    border-radius: 0px !important;
}
.slidingDiv, .slidingDiv2, .slidingDiv7, .slidingDiv8
{ display: none; }
.Zebra_DatePicker_Icon_Wrapper{ width: 100% !important; }
input#datepicker-example8, input#datepicker-example10, input#datepicker-example11,
input#datepicker-example12, input#datepicker-example13, input#datepicker-exampleeducation,
input#datepicker-exampleflight
{
    background: url("../images/key-facts-calendar-bw.png") no-repeat left 95% center #fff !important;
        cursor: pointer;
}
.checkbox {
    padding-left: 35px;
}
.enrolment-form .control-label{font-size: 13px;}
#oshc-message{
        display: block;
    width: 100%;
    float: left;
    text-align: left;
    line-height: 40px;
    font-size: 18px;
}
#oshc-message small{
    display: block;
    width: 100%;
    float: left;
}
.slidingvisa2, .slidingvisa3{ display: none; }
.slidingvisa span{    padding-left: 15px !important;}
.slidingcourse1, .slidingcourse2, .slidingcourse3,
.slidingcourse4, .slidingcourse5, .slidingcourse6, .slidingcourse7
{ display: none; }
.add-another-course, .remove-another-course {
    display: table;
    cursor: pointer;
}
.add-another-course-div, .remove-another-course{ display: none; }
.add-another-course{ display: block; }
.enrol-step-items h3 {
    font-weight: bold;
    font-size: 21px;
    padding-bottom: 15px;
    border: 0;
    letter-spacing: .5px;
    margin-bottom: 16px;
}

.enrol-step-items h3 {
    font-weight: bold;
    font-size: 21px;
    padding-bottom: 15px;
    border: 0;
    letter-spacing: .5px;
    margin-bottom: 16px;
        font-weight: bold;
    border: none;
    padding-top: 10px;
}
.add-another-course .add-course-txt, .add-another-course .add-course-icon, .remove-another-course .add-course-txt, .remove-another-course .add-course-icon {
    display: table-cell;
    vertical-align: middle;
}
.add-another-course .add-course-icon, .remove-another-course .add-course-icon {
    padding-left: 5px;
        padding-top: 30px;
}
.add-course-icon i {
    background-repeat: no-repeat;
    height: 25px;
    width: 24px;
    display: inline-block;
}

.slidinganothercourse1, .slidinganothercourse2, .slidinganothercourse3, 
.slidinganothercourse4, .slidinganothercourse5, .slidinganothercourse6, 
.slidingcourse7, .slidingcourse8, .slidingcourse16, .slidingeducation1, .slidingwork-program1,
.slidingflight1

{
    display: none;
}

.visa-field .control-label {
    padding-left: 0 !important;
}

i.add-course {
    background-image: url(../images/icon-expand-plus.png);
}
i.remove-course {
    background-image: url(../images/icon-collapse-minus.png);
}
.field-step{ margin-bottom: 20px; }
.scnd-field span{ text-align: left; }
@media (min-width: 961px){
.step-course .form-item h3 {
    padding-bottom: 18px;
}
}