
div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, aabbr, acronym, address,
big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {

    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    line-height: inherit;

}

a, blockquote, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, img, input, label, li, ol, p, pre, span, table, ul {

    position: relative

}

p, h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal }

small
sup,
sub     { font-size: 70% }

p small   { display: block; line-height: 1 }

strong, b   { font-weight: bold }
em, i       { font-style: italic }

/* = CLEARFIX
----------------------------------------------------------------------------------------------------------------------*/
.clearfix:before,
.clearfix:after     { content: "\0020"; display: block; height: 0; visibility: hidden; font-size: 0 }
.clearfix:after     { clear: both }
.clearfix           { *zoom: 1 } /* for IE only */

/* = TABLES
----------------------------------------------------------------------------------------------------------------------*/
table {

    border-collapse: collapse;
    border-spacing: 0;
    /* tables still need cellspacing="0" */

}

/* = LISTS
----------------------------------------------------------------------------------------------------------------------*/
ul, ol          { list-style: none }

ul.float li,
ol.float li     { float: left }

ul.default,
ol.default,
ol.default ul,
ul.default ul,
ul.default ol,
ol.default ol   { padding-left: 1.5em }

ul.default,
ol.default ul,
ul.default ul   { list-style-type: square }

ol.default,
ul.default ol,
ol.default ol   { list-style-type: decimal }

.syntaxhighlighter { padding: 5px 0 }

.Zebra_DatePicker .dp_daypicker td.myclass {
}
.Zebra_DatePicker .dp_daypicker td.myclass_disabled {
    background: #E8E8E8 url('../images/close.png') no-repeat center center;
    text-indent: -9999px;
}

.bootstrap .Zebra_DatePicker .dp_daypicker td.myclass {
}
.bootstrap .Zebra_DatePicker .dp_daypicker td.myclass_disabled {
    background: #FFF url('../images/close.png') no-repeat center center;
    text-indent: -9999px;
}
