@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
/*//to load google fonts in our page.*/
input[type=submit]{
    background-color:#1CC32B;
    border:1px solid white;
    font-Weight:bold;
    font-size:18px;
    color:white;
    width:150px;
    height:30px;
    border-radius:3px;
    padding:2px;
    box-shadow:0px 1px 1px 0px darkgray;
    margin-left:20px;

}

#preview{
    height:180px; 
    width:180px; 
    text-align:center;
    margin: 20px;
    display:none;
}
.pre{
    margin-right: 20px;
    font-size: 13px;
}
#previewimg{
    height:140px; 
    width:140px; 
    float:left; 
    padding:8px;
    border:1px solid rgb(228,211,195);
    margin-bottom: 5px;
}

#file{
    opacity:.0; 
    width:115px;
    height:115px;   
}
#upload{
    width:115px;
    height:115px;  
    background-image:url(abc.png);
    background-repeat:no-repeat; 
    margin-left:35px;
    box-shadow: 0 0 10px grey;
    background-position: 5px;	
}
#message{
    width:100%; 
    font-size:14px; 
    color:#123456;
    margin-top:-90px;
    float:left;
    margin: 15px;
}
#message span{
    color:red;
    font-size:15px;
}
#detail{
    line-height: 20px;
    float: left;
    width: 270px;
    font-size:14px; 
}

#textmessage{ 
    float:right; 
    width:50%; 
    margin:15px 85px 0 0; 
}
div#img{ 
    width:200px; 
    height:200px;
}
#imageupload{
    width:150px; 
    height:150px; 
}
#deleteimg{ 
    cursor:pointer; 
    float: right;
    margin-top: -175px;
    margin-right: 10px;
}
/*CSS for right side advertizement*/
