/*=============
form CSS
==============*/

@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@font-face {
font-family: 'LithosPro-Black';
font-style: normal;
font-weight: normal;
src: local('../font/LithosPro-Black'), url('../font/LithosPro-Black.woff') format('woff');
}
html{    overflow-x: hidden !important;}
body{
  font-family: 'Open Sans', sans-serif;
      background-color: #fff;
          color: #696969;
    line-height: 20px;
    font-size: 12px;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
      font-weight: 600;
}
p{
    margin: 0 0 10px;
    font-size: 12px;
    font-weight: 500;
    color: #696969;
        line-height: 20px;
}

header{
    background: #0ba27c;
}
header h2, header p{ color: #fff; text-align: center;}
/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

/*form styles*/
#msform {
      width: 100%;
    margin: 50px auto;
    text-align: center;
    position: relative;
}
#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
      width: 100%;
    margin: 0;
  
  /*stacking fieldsets above each other*/
  position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
#msform input, #msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
}
/*buttons*/
#msform .action-button {
  width: 100px;
  background: #0ba27c;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #0ba27c;
}
/*headings*/
.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}
.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}
#progressbar li {
  list-style-type: none;
    color: #0ba27c;
    text-transform: uppercase;
    font-size: 9px;
    width: 12.5%;
    float: left;
    position: relative;
        font-weight: 600;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto;
      z-index: 1000;
    position: relative;
}
/*progressbar connectors*/
#progressbar li:after {
  content: '';
    width: 100%;
    height: 2px;
    background: #ddd;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: 1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
      background: #0ba27c;
    color: #fff;
}

.form-group .checkbox label, .form-group .radio label, .form-group label {
    font-size: 13px;
    line-height: 1.42857143;
    color: #1a1a1a;
    font-weight: 400;
    text-align: left;
    float: left;
}
.checkbox label, .radio label, label{
  font-size: 13px;
    line-height: 1.42857143;
    color: #1a1a1a;
    font-weight: 400;
    text-align: left;
    float: left;
}

.margin-right-20{
    margin-right: 20px;
}
.checkbox, .radio{
  margin-top: 0px;
  margin-bottom:0px;
}
.checkbox .checkbox-material, label.checkbox-inline .checkbox-material {
    margin-right: 10px;
}
aside h2 small, #progressbar li small{
    display: block;
}