/*Responsive Media Query*/

/*For Apple iPad mini Landscape & other*/
@media(max-width: 1024px){
 .profile-right .nav > li > a{padding: 10px 12px 12px;font-size: 12px;}
}

/*For Google Nexus 7*/
@media screen and (max-width: 980px) and (min-width: 768px) {
   footer{ margin-left: 0px; }
   .nav-md .container.body .right_col .student-grid .icon img{ width: 140px; }
   .nav-md .container.body .right_col .student-grid .content{margin-top: -20px;}
   .nav-md .container.body .right_col .workflow .icon img{ width: 120px; }
   .nav-md .container.body .right_col .workflow .icon{margin-top: -67px;}
   .nav-md .container.body .right_col .workflow .content h4{margin-bottom: 32px;}
   .nav-sm .main_container .student-grid .icon img{ width: 100px; }
   .nav-sm .main_container .student-grid .content{margin-top: -20px;}
   .nav-sm .main_container .workflow .icon img{ width: 100px; }
   .nav-sm .main_container .workflow .icon{margin-top: -80px;margin-left: 20px;}
   .nav-sm .main_container .workflow .content h4{margin-bottom: 23px;}
}

/*For Google Nexus 7 Portrait*/
@media(max-width: 768px){
  .nav-md .container.body .right_col .student-grid .icon img{ width: 140px; }
   .nav-md .container.body .right_col .student-grid .content{margin-top: -20px;}
   .nav-md .container.body .right_col .workflow .icon img{ width: 120px; }
   .nav-md .container.body .right_col .workflow .icon{margin-top: -8px;}
   .nav-md .container.body .right_col .workflow .content h4{margin-bottom: 32px;}
   .nav-sm .main_container .student-grid .icon img{ width: 100px; }
   .nav-sm .main_container .student-grid .content{margin-top: -20px;}
   .nav-sm .main_container .workflow .icon img{ width: 100px; }
   .nav-sm .main_container .workflow .icon{margin-top: -13px;margin-left: 20px;}
   .nav-sm .main_container .workflow .content h4{margin-bottom: 23px;}
}
@media (min-width: 768px){
.modal-sm {width: 500px;}
}
/*For Google Nexus 7 Portrait*/
@media(max-width: 767px){
  .student-profile_pic .fileUpload input.upload{position: relative;left: 34%;top: -21px;}
  .student-grid .content{width: 100%;text-align: center;float: none !important;}
  .content h4{ text-align: center; }
  .student-block-dashbord, .account-block-dashbord, .workflow-block-dashbord{ width: 253px; }
  .student-grid .icon, .workflow .icon, .account .icon{width: 50%;text-align: center;float: none !important;margin: 0 auto;}
  .content h4{ margin-top: 0px; }
  .nav-sm .main_container .student-block-dashbord, 
  .nav-sm .main_container .account-block-dashbord, 
  .nav-sm .main_container .workflow-block-dashbord{ width: 230px; }
}

/*For Google Nexus 7 Portrait*/
@media(max-width: 640px){
    .nav-md .main_container .student-block-dashbord, 
  .nav-md .main_container .account-block-dashbord, 
  .nav-md .main_container .workflow-block-dashbord{ width: 210px; }
  .nav-sm .main_container .student-block-dashbord, 
  .nav-sm .main_container .account-block-dashbord, 
  .nav-sm .main_container .workflow-block-dashbord{ width: 186px; }
  .content h4{font-size: 20px;}
}

/*For Google Nexus 7 Portrait*/
@media(max-width: 603px){
  .nav-md .main_container .student-block-dashbord, .nav-md .main_container .account-block-dashbord, .nav-md .main_container .workflow-block-dashbord {
    width: 200px;}
    .nav-md .container.body .right_col .workflow .icon {
    margin-top: -22px;}
    .nav-md .container.body .right_col .student-grid .content {
    margin-top: 0px;}
    .nav-sm .main_container .student-block-dashbord, .nav-sm .main_container .account-block-dashbord, .nav-sm .main_container .workflow-block-dashbord {
    width: 177px;}
    footer div, footer .pull-left, footer .pull-right{     float: none !important;
    text-align: center;margin-bottom: 5px; }
}
/*For Google Nexus 7 Portrait*/
@media(max-width: 540px){
  .nav-md .main_container .student-block-dashbord, 
  .nav-md .main_container .account-block-dashbord, 
  .nav-md .main_container .workflow-block-dashbord{width: 178px;}
  .nav-sm .main_container .student-block-dashbord, 
  .nav-sm .main_container .account-block-dashbord, 
  .nav-sm .main_container .workflow-block-dashbord{ width: 155px; }
  .content h4 {font-size: 18px;}
}


/*For Google Nexus 7 Portrait*/
@media screen and (max-width: 540px) and (min-width: 360px){
  footer .pull-left, footer .pull-right{float: none !important;text-align: center;}
  .page-title .title_left{ width:100%; }
  .profile-right .nav > li > a { padding: 3px 8px 12px; font-size: 9px;}
  .navbar-nav .open .dropdown-menu.msg_list{right: -108px;}
  .navbar-nav .open .dropdown-menu::after, .navbar-nav .open .dropdown-menu.msg_list::after
  {right: 136px;}
  .student-profile_pic{padding-bottom: 0px;}
  .top_nav .navbar-right{ width: 80%; }
  .page-title .title_left h3{font-size: 24px;}
  #menu1{right: -140px;}

}

/**/
@media(max-width: 480px){
  .nav-md .main_container .student-block-dashbord, .nav-md .main_container .account-block-dashbord, .nav-md .main_container .workflow-block-dashbord {
    width: 157px;}
    .nav-sm .main_container .student-block-dashbord, .nav-sm .main_container .account-block-dashbord, .nav-sm .main_container .workflow-block-dashbord {
    width: 134px;}
    .content h4 {font-size: 14px;}
}

/*Nokia Lumia 920 Portrait*/
@media(max-width: 460px){
  .nav-md .main_container .student-block-dashbord, 
  .nav-md .main_container .account-block-dashbord, 
  .nav-md .main_container .workflow-block-dashbord{width: 153px;;}
  .nav-sm .main_container .student-block-dashbord, 
  .nav-sm .main_container .account-block-dashbord, 
  .nav-sm .main_container .workflow-block-dashbord{ width: 130px; }
}


/*For Google Nexus 7*/
@media screen and (max-width: 360px) and (min-width: 240px){
.navbar-nav .open .dropdown-menu::after, .navbar-nav .open .dropdown-menu.msg_list::after {
    right: 155px;}
    .profile-right .nav > li > a {padding: 10px 8px 12px;font-size: 13px;}
    .nav-tabs > li{ width: 100%; }
    .top_nav .navbar-right{ width:auto; }
    .toggle{width: auto;padding-top: 12px;}
    .top_nav .navbar-right li:last-child{ padding: 0px; }
    .nav > li > a{padding: 10px 10px 12px;}
    .page-title .title_left h3 { font-size: 20px;}
    .recent-app{ padding-right: 0px; padding-left: 0px; }
    footer{ padding-left: 0px; padding-right: 0px;}
    footer .pull-left, footer .pull-right{ font-size: 11px; }
    .nav-md .main_container .student-block-dashbord, .nav-md .main_container .account-block-dashbord, .nav-md .main_container .workflow-block-dashbord {
    width: 100%;}
    .nav-sm .main_container .student-block-dashbord, 
    .nav-sm .main_container .account-block-dashbord, 
    .nav-sm .main_container .workflow-block-dashbord {
    width: 100%;}
    .content h4 {font-size: 28px;}
    .recent-app { padding: 10px;}
    .email-dropdown{ right: -110px !important;}
    .navbar-nav .open .dropdown-menu.email-dropdown::after{right: 135px !important;}

}
@media(max-width: 320px){
  #menu1 { right: -168px;}
}

@media(max-width: 240px){
  .toggle a i {font-size: 16px;}
  .top_nav li a .fa-bell-o {font-size: 24px;}
  .nav > li > a {padding: 11px 5px 8px;}
  .toggle a {padding: 15px 8px 0;}
  .notifi-title h4{ font-size: 14px;}
  .navbar-nav .open .dropdown-menu.msg_list {width: 220px;}
  #menu1 {right: -142px;}
  ul.msg_list li{    width: 100% !important;}
  .top_nav .dropdown-menu li a {width: 100%;padding: 3px 5px !important;}
  .navbar-nav .open .dropdown-menu>li>a {line-height: 7px;font-size: 13px;}
  .media .media-heading{font-size: 13px;}
  .navbar-nav .open .dropdown-menu.msg_list{padding: 5px;}
  .email-dropdown {right: -97px !important;}
  .email-dropdown li{ padding: 0px !important; margin: 0px !important; }
  .email-dropdown li a{font-size: 14px !important;line-height: 17px !important;}
}